<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
    <meta charset="utf-8" />
    <title>Animated Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <a href=file:///C:/Users/ASUS/Desktop/projet2/index.html>Acceuil</a>
         
</div>
    <form class="box" action="index.html" method="post">
      <h1>Login</h1>
      <input type="text" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <input type="submit" name="" value="Login">
      <button [ style='font-size:24px'> <a href="http://localhost/formilaireINscri/s'inscrie.php">creer un COMPTE</a></button>

    </form>


</body>
</html>